.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.answers{
    display: flex;
    flex-direction: row;
}

.check{
    padding: 2rem;
}

.question_item{
    padding: 2rem;
}
