.question-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}